

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    opacity: 0;
    transition: opacity .5s ease, top .2s ease;
}

.show-about{
    opacity: 1;
}
.profile{
    grid-area: 1/1/2/2;
}

.bio{
    grid-area: 1/2/2/3;

}

a{
    color: $mainGreen;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 5px 0;
}

a:hover {
    color: $mainBlue;
  }

a:active{
    color: mainBlue;
  }
