.feature{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0 20px;

    @mixin atSmall {
        grid-gap: 0 50px;
      }
  
      @mixin atMedium {
        grid-gap: 0 60px;
      }
  
      @mixin atLarge {
        grid-gap: 0 80px;
      }
}

.featurepic{
    grid-area: 1/1/2/2;
}

.featuretext{
    grid-area: 1/2/2/3;
    font-weight: 300;
    font-size: 0.9rem;
    color: $mainGrey;
    line-height: 1.1rem;


    @mixin atSmall {
        font-size: 1.1rem;
        line-height: 1.3rem;
      }
  
      @mixin atMedium {
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
  
      @mixin atLarge {
        font-size: 1.1rem;
        line-height: 1.9rem;
      }

}