.header{
    position: absolute;
    position: fixed;
    z-index: 2;
    width: 100%;


    &__logo{
        position: absoloute;
        margin: 25px 0;
    } 

    &--dark{
        background-color: white; 
    }

    
}