.large-hero{
    position: relative;

    &__text-content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;
    }

    &__title{
        font-weight: 100;
        color: $mainGreen;
        font-size: 2.5rem;
        margin: 0;

          @mixin atSmall {
            font-size: 2.9rem;
          }
      
          @mixin atMedium {
            font-size: 3.2rem;
          }
      
          @mixin atLarge {
            font-size: 4.8rem;
          }
    }


    
    &__subtitle{
        font-weight: 300;
        color: $mainGreen;
        font-size: 1.5rem;
        margin: 0;


        @mixin atSmall {
            font-size: 2.5rem;
        }
        @mixin atMedium {
            font-size: 2.9rem;
          }
      
        @mixin atLarge {
            font-size: 3.2rem;
          }
    }


    &__description{
        color: $mainGrey;
        font-size: 1.1rem;
        font-weight: 200;
        text-shadow: 2px 2px 0 rgba(0,0,0,.01);
        max-width: 30rem ;
        margin-left: auto;
        margin-right: auto;
        text-align: center; 

        
        @mixin atSmall {
            font-size: 1.5rem;
        }
        @mixin atMedium {
            font-size: 2.1rem;
          }
      
        @mixin atLarge {
            font-size: 2.1rem;
          }
    }
}


 
