.projects{
    position: relative;

    &__title{
        font-weight:300;
        color: $mainGreen;
        font-size: 2.9rem;
        margin: 0;
    }
    &__subtitle{
        font-weight:100;
        color: $mainGreen;
        font-size: 2.5rem;
        margin: 0;
    }
    &__subtitle:hover{
        font-weight:100;
        color: $mainBlue;
        font-size: 2.5rem;
        margin: 0;
    }


}