.wrapper2{
    margin-top: 135px;

    &__m{
        margin-top: 100px;
        

    }
    &__n{
        margin-top: 70px;

    }
    &__s{
        margin-top: 20px;

    }
    &__ss{
        margin-top: 15px;

    }
    &__focus{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    &__U{
        margin-top: 150px;
        margin-bottom: 50px;
        margin-right: 50px;
        margin-left: 50px;

         
        @mixin atSmall {
            margin-top: 190px;
            margin-bottom: 190px;
            margin-right: 150px;
            margin-left: 150px;
        }
        @mixin atMedium {
            margin-top: 200px;
            margin-bottom: 200px;
            margin-right: 250px;
            margin-left: 250px;
            }
      
        @mixin atLarge {
            margin-top: 200px;
            margin-bottom: 100px;
            margin-right: 350px;
            margin-left: 380px;
          }
    }
}